<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product Form</title>

</head>
<body>
<div align="center">
    <div style="border-style:solid; width:500px">
        <h1>Product Registration</h1>
        <form
                role="form"
                method="post"
                th:action="@{/save}"
                th:object="${Product}"
        >
<!--            <label>ID:</label>-->
<!--            <input type="text" th:field = "*{product_id}" />-->
            <br />
            <label>ProductName:</label>
            <input type="text" th:field = "*{product_name}" />
            <br />
            <label>Product Specifications:</label>
            <input type="text" th:field="*{specifications}" />
            <br/>
            <label>Stock:</label>
            <input type="text" th:field="*{stock}" />

            <button type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>